<div class="main">
  <div class="main-landing">
    <div class="main-nav">
      <div class="main-logo">
        <img src="../../../assets/bot.png" />
      </div>
      <!-- <div class="main-socials">
        <img src="../../../assets/1/twitter.svg" />
        <img src="../../../assets/1/bsc.svg" />
        <img src="../../../assets/1/tg.svg" />
        <img src="../../../assets/1/uniswap.svg" />
      </div> -->
      <div class="main-buttons">
        <button class="button" style="margin-right: 1em">BUY ON UNISWAP</button>

        <button class="button" (click)="connect()" *ngIf="!isConnected">
          CONNECT WALLET
        </button>
      </div>
    </div>

    <div class="main-content">
      <div class="main-content-banner">
        <img class="main-image" src="../../../assets/banner.png" />
        <h1>FORTUNE BOT TOKEN!</h1>
        <p>
          🎉 Ready to ride the hourly ETH rollercoaster? 🎢🚀 Hold on tight for
          the Mega Jackpot ride! 💰💰
        </p>

        <div class="socials">
          <img src="../../../assets/tg.png" />
          <img src="../../../assets/x.png" />
          <img src="../../../assets/dex.png" />
          <img src="../../../assets/uni.png" />
        </div>
      </div>

      <div class="user-details" *ngIf="ca" (click)="copyCa()">
        CA:{{ ca }} <img src="../../../assets/clipboard.png" />
      </div>

      <div class="content">
        <ul class="team">
          <li class="member co-funder flipInX">
            <div class="thumb"><img src="../../../assets/bot.png" /></div>
            <div class="description">
              <h1 class="fadeIn">🏆HERE'S THE DEAL</h1>
              <p>⏰ 1 lucky hodler wins (ETH) every single hour!</p>
              <p>📈Mega Jackpot keeps growing as long as people keep buying!</p>
              <p>🔄 Timer resets to 24 hours with every new buyer!</p>
              <p>🎯 Prize size depends on hourly tax & daily accumulation!</p>
              <p>🎲 Holders get points for extra chances to win!</p>
            </div>
          </li>

          <li class="member co-funder flipInX">
            <div class="thumb"><img src="../../../assets/bot.png" /></div>
            <div class="description">
              <h1 class="fadeIn">💸 REWARD DISTRIBUTION</h1>
              <p>
                💵 Smart contract will automatically send the prize straight ti
                the winner and Fortune Bot will announce in Main TG - You could
                be famous! 📢
              </p>
            </div>
          </li>
          <li class="member co-funder flipInX">
            <div class="thumb"><img src="../../../assets/bot.png" /></div>
            <div class="description">
              <h1 class="fadeIn">📊 TAXONOMY</h1>
              <p>🤯100% total tax! Mind-blowing!</p>
              <p>🚀50% supercharges our Marketing Funds - To the moon!</p>
              <p>🏅 25% goes to the hourly champ - Hourly glory!</p>
              <p>🎟️ 25% fuels the Mega Jackpot - Your ticket to big bucks!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="reward-content">
    <div class="reward-container">
      <h1 class="fadeIn">SCHEDULED REWARD</h1>

      <div class="reward-box fadeInLeftBig">
        <hr />
        <table>
          <tr *ngIf="selectedAddress">
            <td>CONNECTED USER:</td>
            <td>{{ selectedAddress }}</td>
          </tr>
          <tr *ngIf="selectedAddress">
            <td>BALANCE:</td>

            <td>{{ hodlToken.toFixed(4) }}</td>
          </tr>
          <tr *ngIf="selectedAddress">
            <td>POINTS:</td>
            <td>{{ points }}</td>
          </tr>
          <tr *ngIf="selectedAddress">
            <td>CHANCE OF WINNING:</td>
            <td>{{ chanceOfWinning }}%</td>
          </tr>

          <tr>
            <td>TOTAL CONTRACT POINTS</td>
            <td>{{ totalPoints }}</td>
          </tr>
        </table>

        <h1 class="fadeIn">
          TOTAL REWARD:
          <b style="color: #ffcd48 !important">{{ totalEthRewards }} ETH</b>
        </h1>
        <p>TIME REMAINING</p>
        <div class="countdown">
          <p id="days"></p>
          <p id="hours"></p>
          <p id="mins"></p>
          <p id="secs"></p>
        </div>

        <button class="button-alternate">VIEW WINNERS</button>
      </div>
    </div>

    <div class="reward-container">
      <h1 class="fadeIn">MEGA JACKPOT</h1>

      <div class="reward-box fadeInLeftBig">
        <table>
          <tr>
            <td>LAST BUYER:</td>
            <td>{{ lastBuyer }}</td>
          </tr>
          <tr>
            <td>LAST BUY TIMESTAMP:</td>

            <td>{{ lastBuyDate }}</td>
          </tr>
          <tr>
            <td>IDLE TIME:</td>
            <td>{{ idleTime }} HRS</td>
          </tr>
        </table>
        <h1 class="fadeIn">
          TOTAL REWARD:
          <b style="color: #ffcd48 !important">{{ totalEthRewardsMega }} ETH</b>
        </h1>
        <p>TIME REMAINING</p>
        <div class="countdown">
          <p id="days_mega"></p>
          <p id="hours_mega"></p>
          <p id="mins_mega"></p>
          <p id="secs_mega"></p>
        </div>
        <p>Mega jackpot time resets every time someone buy on uniswap</p>
        <hr />
      </div>
    </div>

    <p class="jack">
      💯 Don't wait, don't hesitate - Fortune Bot awaits! 🤖💯🚀
    </p>
  </div>

  <div class="footer"><p>Fortune Bot 2023</p></div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="isLoading" (click)="closeModal()">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-content-main">
      <p class="loading" *ngIf="!loadingMessage">Loading....</p>
      <p class="message" *ngIf="loadingMessage">{{ loadingMessage }}</p>
    </div>
  </div>
</div>
