.main {
    display: flex;
    flex:1;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden !important;
   min-height: 100vh;

   background: rgb(229,229,229);
   background: linear-gradient(rgba(229,229,229,1) 0%, rgba(37,4,85,1) 39%);

    .main-landing{
      display: flex;
      
  
      flex-direction:  column;

  
        .main-nav{
          display: flex;
  
          flex-direction: row;
          background-color: transparent;
          padding:1em;
          border-bottom: 2px solid black;
      
    
          .main-logo{
            display: flex;
            flex:.3;
            justify-content: center;
            align-items: center;
           
            img{
              width: 5em;
              height: auto;
              animation:tada;
              animation-duration: 1s; 
            }
   
          }
          // .main-socials{
          //   display: flex;
          //   flex:.3;
          //   justify-content: center;
          //   align-items: center;
          //   flex-direction: row;
          //   img{
          //     width: 3em;
          //     height: auto;
          //     margin-right: 1em;
          //     cursor: pointer;
          //     animation:pulse;
          //     animation-duration: 1s; 
          //   }
          // }
          .main-buttons{
            display: flex;
            flex:.7;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
            margin-right: 3em;
            button{
              cursor: pointer;
              animation:pulse;
              animation-duration: 1s; 
            }
     
            .connected{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              span{
                margin-left: 1em;
                font-family: '2';
                font-size: 1.25em;
                color: var(--yellow);
              }
            }
          }
        
        }
   .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-content-banner{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      text-align: center;
       img{
          height: auto;
          width: 30em;
          
          
       };
       .main-image{
        animation:fadeInDownBig;
        animation-duration: 1s; 
       }
       align-items: center;

       p{
        font-size: 1.25em;
       }
       .socials{
        animation:fadeIn;
          animation-duration: 1s; 
        img{
          height: 3rem;
          width: auto;
          margin-right: 1em;
          cursor: pointer;
        }
      
       }
    }

    .user-details{
      margin-top:1em;

      border: 1px solid  #ffcd48;
      cursor: pointer;
      
      display: flex;
      padding:1em;
      font-size: 2em;
      display: inline-flex;
      animation:fadeInLeftBig;
      animation-duration: 1s; 
      img{
        height: auto;
        width: 1em;
        cursor: pointer;
        margin-left: 1em;
      }
    }

    ul{
      font-size: 1.25em;
    }

   }
    
    }

    .reward-content{
      display: flex;
      justify-content: center;
      align-items: center;
      padding:5em;
      flex-direction: column;
      .reward-container{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .reward-box{
          flex-direction: column;
          background-color: rgba(0, 0, 0, 0.8);
     
          padding:1em;
          display: flex;
          flex:1;
          justify-content: center;
          align-items: center;
          padding:5em;
          .countdown{
            display: flex;
            flex-direction: row;
            margin-bottom: 2em;
            p{
              margin:  0  !important;
              color: #ffcd48;
              font-size: 2.5em;
              margin-right: .25em !important;
     
            }
          }
          table, th, td {
            border: 1px solid #ffcd48;
            border-collapse: collapse;
            padding:1em;
          }
        }
      }
  
     }
     
       
  .footer{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-content: center;
    padding:1em;
    border-top: 1px solid white;
    p{
      color:white;
      font-family: '1';
      font-weight: bold;
    }
  }
  
  
  }



  
  


  
 