.main {
    display: flex;
    flex:1;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden !important;
   max-height: 100vh;
    .main-landing{
      display: flex;
      
  
      flex-direction:  column;
      min-height: 100vh;
  
        .main-nav{
          display: flex;
  
          flex-direction: row;
          background-color: black;
          padding:1em;
      
    
          .main-logo{
            display: flex;
            flex:.3;
            justify-content: center;
            align-items: center;
           
            img{
              width: 10em;
              height: auto;
              animation:pulse;
              animation-duration: 1s; 
            }
   
          }
          .main-socials{
            display: flex;
            flex:.3;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            img{
              width: 3em;
              height: auto;
              margin-right: 1em;
              cursor: pointer;
              animation:pulse;
              animation-duration: 1s; 
            }
          }
          .main-buttons{
            display: flex;
            flex:.4;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            button{
              cursor: pointer;
              animation:pulse;
              animation-duration: 1s; 
            }
     
            .connected{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              span{
                margin-left: 1em;
                font-family: '2';
                font-size: 1.25em;
                color: var(--yellow);
              }
            }
          }
        
        }
        .main-hero{
          display: flex;
          flex:1;
            background-color: white;
          background-repeat: no-repeat;
         background-attachment: fixed;
          background-position: center;
          background-size: cover;
          flex-direction: row;
          color:black;
   
         
            .main-hero-left{
                display: flex;
                flex:1;
                flex-direction: column;

                .total-eth{
                    
                }
                .schedule-reward{
                    display: inline-flex;
                }
            }

            .main-hero-left{
                display: flex;
                flex:1;
            }
           
        }
      
        .main-landing-social-mobile{
          display: none;
        }
          
  
      .main-social-button-mobile{
        display: none;
      }
  
    
    }
  
  }
  
  .footer{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-content: center;
    p{
      color:var(--yellow);
      font-family: '2';
      font-weight: bold;
    }
  }
  
  


  
  @media only screen and (max-width: 600px) {
    .main {
      display: flex;
      flex:1;
      width: 100vw;
      flex-direction: column;
      overflow-x: hidden !important;
     max-height: unset;
      .main-landing{
        display: flex;
        
    
        flex-direction:  column;
        min-height: 100vh;
    
          .main-nav{
            display: flex;
    
            flex-direction: column;
            background-color: black;
            padding:1em;
        
      
            .main-logo{
              display: flex;
              flex:.3;
              justify-content: center;
              align-items: center;
             
              img{
                width: 10em;
                height: auto;
                animation:pulse;
                animation-duration: 1s; 
              }
     
            }
            .main-socials{
              margin-top: 2em;
              display: flex;
              flex:.3;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              img{
                width: 3em;
                height: auto;
                margin-right: 1em;
                cursor: pointer;
                animation:pulse;
                animation-duration: 1s; 
              }
            }
            .main-buttons{
              margin-top: 2em;
              display: flex;
              flex:.4;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              button{
                cursor: pointer;
                animation:pulse;
                animation-duration: 1s; 
              }
       
              .connected{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span{
                  margin-left: 1em;
                  font-family: '2';
                  font-size: 1.25em;
                  color: var(--yellow);
                }
              }
            }
          
          }
          .main-hero{
            display: flex;
            flex:1;
            background-image: url('../../../assets/1/bg_app.svg');
            background-repeat: no-repeat;
           background-attachment: fixed;
            background-position: center;
            background-size: cover;
            flex-direction: column;
           

            .main-hero-left{
                display: flex;
                flex:unset;
                justify-content: center;
                align-items: center;
                img{
                    height: 70vh;
                    width: auto;
                }
            }
            .main-hero-right{
                display: flex;
                flex:unset;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:3em;
           
                span{
                   
                    font-family: '2';
                    font-size: 1.25em;
                    background-color: var(--yellow);
                    padding:.1em;
                    width: unset;
                    text-align: center;
                    margin-bottom: .1em;
                  }
                button{
                    width: 8em;
                    font-size: 1.75em;
                }

            }
         
          }
        
      
    
  
    
      
      }
    
    }
    
    .footer{
      display: flex;
      height: 5vh;
      justify-content: center;
      align-content: center;
      p{
        color:var(--yellow);
        font-family: '2';
        font-weight: bold;
      }
    }
    
    
  }